@using FormGenerator.Models;
@using Orchard.Utility.Extensions;

@{
  Style.Include("contrib-imagefield.css");
  Property p = Model.property;
}

@*@if (!String.IsNullOrWhiteSpace(Model.ContentField.FileName)) {
<p class="image-field">
   <span class="name">@name.CamelFriendly() :</span>
  <img src="@Url.Content(Model.ContentField.FileName)" alt="@Model.ContentField.AlternateText" width="@Model.ContentField.Width" height="@Model.ContentField.Height"/>
</p>
}*@

<span>@p.Name :</span>
<input type="radio" name='@p.DisplayContext.Name' />
<br />